<%- include ( 'partials/topHtmlPlate') %>
<a href="users/signup">Sign UP</a> <br>
<a href="users/usersdetail">See All Users</a><br>
<a href="users/login">Signin</a>

<h1> Welcome to Friends Blog </h1>

<%- include ( 'partials/bottomHtmlPlate') %>