<%- include ("../partials/topHtmlPlate") %>
<h1>Job Home Page </h1>

<ul>
    <li><a href="/jobs/newjob">Create Job</a></li>
    <li><a href="/jobs/alljobs">All Jobs</a></li>
    <li><a href="/users/usersdetail">All Users</a></li>
    <li><a href="/posts/allposts">All Posts</a></li>
</ul>

<%- include ("../partials/bottomHtmlPlate") %>