<%- include ('../partials/topHtmlPlate') %>

<h1>Login</h1>
<%- include ('../partials/topHtmlPlate') %>


    <form action='/users/login' method="POST" >
                
        Username: <input type="text" name="username" placeholder=" username" /> <br> <br>

        Password: <input type="text" name="password" placeholder=" password" /><br> <br>

        <input type="submit" value="Login" />
    </form>


<%- include( '../partials/bottomHtmlPlate') %>