<%- include ( '../partials/topHtmlPlate') %>

<h1> Welcome to Friends  Create Posts Page </h1>

<form action='/users/profile/<%=id%>/newpost' method="POST" >

    Title: <input type="text" name="title" placeholder="Title" /><br> <br>
        
    Content: <input type="text" name="postbody" placeholder="Content " /> <br> <br>
     
    <input type="submit" value="Create Post" />

    </form>

  


<%- include ( '../partials/bottomHtmlPlate') %>